wandb/
synthetic_samples/
synthetic_samples_test/
kde_analysis/
analysis_results/
analysis_results_simple/
analysis_results_acc/
kde_masked_output/
crps_ci_plots/
crps_plot.py

__pycache__/
#*.pyc

batch_scripts/*
!batch_scripts/
!batch_scripts/*.pbs
